<mat-toolbar color="primary">
    <span>MoviesPlus</span>
    <span class="example-spacer"></span>
    <button routerLink="mainpage" mat-button >Inicio</button>
    <button routerLink="peliculas" mat-button >Peliculas</button>
    <button routerLink="series" mat-button >Series</button>
    <button routerLink="animes" mat-button >Animes</button>
    <span class="example-spacer"></span>
    <button routerLink="logout" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>